# fly.toml app configuration file generated for zapier-triggers-lisp on 2025-11-12T17:42:44-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'zapier-triggers-lisp'
primary_region = 'dfw'

[build]

[env]
  ENVIRONMENT = 'production'
  LOG_LEVEL = 'info'
  PORT = '5000'

[http_service]
  internal_port = 5000
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
